body {
    background: transparent;
    overflow: hidden;
    margin: 0;
}

.zwift-app {
    background-color: #dedcdc;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    & .title-bar {
        display: none;
        background-color: #FC6719;
        color: white;
        text-align: center;
        margin: 0;
        padding: 5px;
    }
    & .content {
        position: relative;
        height: 100%;
    }

    &.overlay {
        background: transparent;
        transition: background-color ease 1s;

        &.hovering {
            background-color: rgba(222, 220, 220, 0.5);

            & .title-bar {
                opacity: 1;
            }
        }

        & .title-bar {
            display: block;
            opacity: 0;
            transition: opacity ease 1s;
            -webkit-app-region: drag;
        }
    }
}

.error {
    font-weight: 600;
    color: red;
}
.disabled {
    filter: grayscale(100%);
}
