@import 'variables.css';
@import 'sprites.css';

body {
    background: transparent;
    overflow: hidden;
    margin: 0;
    font-family: "ProximaNova-Black", Arial, Helvetica, sans-serif;
}

.title-bar {
    background-color: var(--title-background);
    color: white;
    text-align: center;
    margin: 0;
    padding: 5px;
    -webkit-app-region: drag;
    position: relative;
}

.zwift-app {
    background-color: var(--app-background);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    & .title-bar {
        display: none;
    }
    & .content {
        position: relative;
        height: 100%;
    }

    &.overlay {
        background: transparent;
        transition: background-color ease 1s;

        &.openfin {
            background: rgb(200, 200, 200);
            transition: none;
        }

        &.hovering {
            background-color: rgba(222, 220, 220, 0.5);

            & .title-bar {
                opacity: 1;
            }
        }

        & .title-bar {
            display: block;
            opacity: 0;
            transition: opacity ease 1s;
            -webkit-app-region: drag;
        }

        &.openfin .title-bar {
            transition: none;
        }
    }
}

a {
    text-decoration: none;
    color: #6e7af8;
    font-weight: bold;
}

.error {
    font-weight: 600;
    color: red;
}
.disabled {
    filter: grayscale(100%);
}
.hidden {
    display: none;
}

input, button, .button, select {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;

    border: 1px solid var(--input-border);
    border-radius: 6px;
    outline: none;
}

input[type=submit], input[type=button], button, .button {
    cursor: pointer;
    margin: 0 auto 0 auto;
    border: none;
    background-color: var(--button-background);
    color: white;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    &:active {
        background-color: var(--app-button-background-pressed);
    }

    &:disabled {
        background-color: var(--button-background-disabled);
        cursor: default;
    }
}

a.button {
    display: inline-block;
}

.app-button {
    background-color: var(--app-button-background);
    color: white;
    text-transform: uppercase;

    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding: 0;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 2px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

    &:hover {
        background-color: var(--app-button-background);
    }
    &:active {
        background-color: var(--app-button-background-pressed);
    }

    &:disabled {
        background-color: var(--button-background-disabled);
        cursor: default;
    }
}

.close-button {
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 10px;
    padding: 5px 8px;
    text-decoration: none;
    color: var(--close-button);
    font-size: 0.5em;
    border: 2px var(--close-button) solid;
    border-radius: 15px;
    -webkit-app-region: no-drag;

    &:hover {
        color: var(--close-button-hover);
        border-color: var(--close-button-hover);
    }
}