@import 'variables.css';

.cookie-warning {
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow-y: hidden;
    height: 0;
    text-align: center;
    transition: height ease 500ms;
    z-index: 500;

    &.show {
        height: 50px;
    }

    & .content {
        box-sizing: border-box;
        margin: 0 auto;
        width: 95%;
        max-width: 450px;
        height: 50px;
        background-color: #3e3e3e;
        color: white;
        padding: 10px;
        font-size: 0.9em;

        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        display: flex;
        flex-direction: row;

        & span {
            display: block;
            margin: auto 0;
            flex: 1 1;
        }

        & button {
            display: block;
            flex: 0 0;
            min-width: 70px;
            margin-left: 20px;
        }
    }
}