@import 'variables.css';

.cookie-warning {
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow-y: hidden;
    height: 0;
    margin: 0 auto;
    text-align: center;
    transition: height ease 500ms;
    z-index: 500;

    &.show {
        height: 53px;
    }

    & .content {
        display: inline-block;
        width: 450px;
        background-color: #3e3e3e;
        color: white;
        padding: 10px;

        border-top-left-radius: 20px;
        border-top-right-radius: 20px;



        & button {
            margin-left: 20px;
        }
    }
}