@import 'variables.css';

.info-panel {
    position: absolute;
    bottom: 80px;
    left: 10px;
    height: 50px;
    width: 50px;
    max-height: 90%;
    max-width: 90%;
    background-color: var(--app-button-background);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 25px;
    overflow: hidden;
    z-index: 250;

    transition: all ease 400ms;
    transition-property: width, height, border-radius background-color;

    & .display-area {
        position: relative;
        min-height: 100%;
        min-width: 100%;
        max-height: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition: opacity ease 400ms;
    }

    & .display-content {
      flex: 1 1 auto;
      overflow-x: auto;
      overflow-y: auto;
    }

    & .info-panel-button {
        position: absolute;
        border: none;
        background-color: transparent;
        bottom: 0;
        left: 0;
        opacity: 1;
        transition: opacity ease 400ms;

        &:hover {
            background-color: transparent;
        }
        &:active {
            background-color: var(--app-button-background-pressed);
        }
    }

    &.expanded {
        width: 250px;
        height: 370px;
        max-height: 70%;
        border: 1px solid var(--ghosts-border);
        background-color: var(--ghosts-background);
        border-radius: 8px;

        & .display-area {
            opacity: 1;
        }

        & .info-panel-button {
            opacity: 0;
        }
    }

    & h1 {
        color: var(--title-background);
        text-align: center;
        margin: 0 40px 0 0;
        padding: 7px;
        position: relative;
    }

    & .minimize-button {
        position: absolute;
        top: 0;
        margin: 5px;
        padding: 4px;
    }

    & .minimize-button {
        right: 0;
    }
}

.zwift-app.overlay {
    & .info-panel {
        opacity: 0;
        transition: opacity ease 1s;
    }

    &.openfin .info-panel {
        transition: none;
    }

    &.hovering .info-panel {
        opacity: 1;
    }
}
