@import 'variables.css';

.login {
    border: 1px solid #4d4d4d;
    background-color: #ede9e9;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 1px;
    bottom: 1px;
    
    & h2 {
        background-color: #3e3e3e;
        color: white;
        padding: 20px;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        border-top-left-radius: 20px;
    }

    & form, & .host {
        -webkit-app-region: no-drag;
        background-color: white;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    & form {
        margin: 50px auto 0 auto;
        width: 450px;
        max-width: 95%;
        border: 1px solid #bfbebe;

        & fieldset {
            margin: 20px auto 0 auto;
            border: none;
            width: 90%;
        }
    }

    & .find-zwift-id {
        display: inline-block;
        margin: 30px 0 0 10px;
    }

    & .host {
        position: absolute;
        left: -300px;
        bottom: 20px;
        width: 300px;
        visibility: hidden;
        transition: left ease 400ms;

        &.show {
            visibility: visible;
            left: 20px;
        }
    }
    & .host-info {
        padding: 20px;
    }

    & .error {
        margin-top: 20px;
        text-align: center;
        font-size: 1.2em;
    }

    & .logo {
        width: 200px;
        height: 30px;
        background-image: url(/img/zwift.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: 10px;
    }

    & input {
        display: block;
    }
    & input[type=text], & input[type=password] {
        width: 100%;
        margin: 10px 0;
    }

    & .feedback {
        position: absolute;
        padding: var(--padding);
        left: 0;
        bottom: 0;
    }
}