@import 'variables.css';
@import 'app.css';

@keyframes maxPower {
    from {
        fill: #E03C31;
    }
    50% {
        fill: #FFF0F0;
    }
    to {
        fill: #E03C31;
    }
}

.map {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;

    & .map-route, & .map-riders, & .map-points-of-interest {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    & .full-size {
        max-height: 100%;
        max-width: 100%;
    }

    & .img {
        height: 100%;
        background-size:contain;
        background-repeat: no-repeat;
        background-position-x: 50%;
    }

    @media (max-width: 600px) {
        & .map-attribute, &.custom-map .map-attribute {
            top: 3px;
            width: auto;
        }
    }


    & .display-activity {
        & circle {
            opacity: 0.8;
            fill: var(--activity-color);
        }

        & polyline {
            opacity: 0.5;
            fill: none;
            stroke-width: 5000;
            stroke: var(--activity-color);
            stroke-linejoin: round;
        }
    }
}

.overlay {
    & .map-attribute {
        opacity: 0;
        transition: opacity ease 1s;
    }

    &.hovering .map-attribute {
        opacity: 1;
    }
}

.map-develop {
    position: absolute;
    bottom: 50px;
    left: 5px;
    & .viewbox {
        width: 300px;
    }
}