@import 'variables.css';

.map {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;

    & .map-route, & .map-riders {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    & .full-size {
        width: 100%;
        height: 100%;
    }
}

.rider-position {
    -webkit-app-region: no-drag;
}