@import 'variables.css';

.map-rider-labels {
    pointer-events: none;
    & .rider-label {
        & text {
            font-family: Verdana;
            font-size: 9000px;
            font-weight: 600;
            fill: black;
        }

        & .background {
            fill: var(--shaded-background);
            opacity: 0.8;
        }

        & .label {
            font-size: 7000px;
            font-weight: 400;
        }
    }
}
