@import 'variables.css';

.strava-route {
    & .segment {
        pointer-events: none;

        & circle {
            opacity: 0.8;
            fill: var(--activity-color);
        }

        & polyline {
            opacity: 0.5;
            fill: none;
            stroke-width: 5000;
            stroke: var(--activity-color);
            stroke-linejoin: round;
        }
    }

    & .route {
        pointer-events: none;

        & polyline {
            fill: none;
            stroke-linejoin: round;
            opacity: 0.5;

            &.route-line {
                stroke-width: 1500;
                stroke: #3E3E3E;
                stroke: red;
            }

            &.route-glow {
                visibility: hidden;
                stroke-width: 00;
                stroke: #D7A073;
            }
        }
    }
}