@import 'variables.css';

.strava-route {
    & .segment {
        & circle {
            opacity: 0.5;
            fill: var(--activity-color);
        }

        & polyline {
            opacity: 0.5;
            fill: none;
            stroke-width: 5000;
            stroke: var(--activity-color);
            stroke-linejoin: round;
        }
    }
}