@import 'variables.css';

@keyframes slider {
    from {
        left: -60%;
    }

    50% {
        left: 80%;
    }

    to {
        left: -60%;
    }
}

.strava-segments {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    overflow: hidden;
    transition: height 300ms ease-in-out;

    & .container {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
    }

    & ul {
        width: 400px;
        max-width: 80%;
        max-width: calc(100% - 150px);
        margin: 0 auto;
        padding: 0;
    }

    & .strava-connected {
        position: relative;
        width: 200px;
        height: 4px;
        max-width: 40%;
        max-width: calc(100% - 150px);
        margin: 0 auto;
        overflow: hidden;
        border-radius: 5px;

        & .anim {
            display: block;
            position: absolute;
            top: 1px;
            height: 3px;
            width: 80%;
            left: 0%;
            background-color: var(--ghosts-border);
            border-radius: 5px;

            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-name: slider;
        }
    }

    & .segment {
        display: flex;
        box-sizing: border-box;
        padding: 5px;
        flex-direction: row;
        background-color: white;
        border: 2px solid var(--ghosts-border);
        border-radius: 5px;
        opacity: 0.8;
        margin-top: 4px;

        & .name {
            display: inline-block;
            flex: 1 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        & .difference {
            display: inline-block;
            font-weight: bold;
            overflow: hidden;
            min-width: 50px;
            text-align: right;
            flex: 0 0;

            &.slower {
                color: #E03C31; /* red */
            }

            &.faster {
                color: #90EE90; /* green */                
            }
        }
    }
}

@media (min-width: 1000px) {
    .strava-segments {
        & ul {
            width: 800px;
            font-size: 1.5em;
        }

        & .segment {
            padding: 5px 20px;

            & .difference {
                min-width: 75px;
            }
        }
    }    
}
