@import 'variables.css';

.summary {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--padding);

    & .logo {
        width: 200px;
        height: 30px;
        background-image: url(/img/zwift.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    & .player-name {
        position: absolute;
        right: 0;
        top: 0;
        padding: var(--padding);
        font-weight: bold;
        color: var(--activity-color);
        z-index: 200;

        & .name {
            vertical-align: middle;
        }

        & .logout {
            margin-left: 10px;
            & img {
                width: 24px;
                height: 24px;
                vertical-align: middle;
            }
        }
    }

    &.custom-map .logo {
        display: none;
    }

    & .map-attribute {
        position: absolute;
        top: 40px;
        left: 0;
        width: 200px;
        text-align: center;
        padding: var(--padding);
        z-index: 100;

        color: #808080;
    }
    &.custom-map .map-attribute {
        top: 5px;
        width: 100%;
    }

    @media (max-width: 600px) {
        & .logo {
            display: none;
        }
        & .map-attribute, &.custom-map .map-attribute {
            top: 5px;
            width: auto;
        }
    }
}

.overlay .summary {
    opacity: 0;
    transition: opacity ease 1s;
}
.overlay.hovering .summary {
    opacity: 1;
}
