@import 'variables.css';

.summary {
    & .menu-button {
        position: absolute;
        top: var(--padding);
        left: var(--padding);
        z-index: 250;
    }

    & .menu-overlay, & .popup-overlay {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: transparent;
        z-index: 300;
        user-select: none;
        touch-action: none;

        &.hide {
            display: none;
        }
    }
    & .popup-overlay {
        background-color: rgba(255, 255, 255, 0.4);

        & .popup-content {
            margin-left: auto;
            margin-right: auto;
            background-color: var(--menu-background);
            border: 2px solid var(--activity-color);        
            border-radius: 25px;
        }
    }

    & .menu-content {
        background-color: var(--menu-background);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 220px;
        transition: left ease 400ms;
        z-index: 350;
        user-select: none;
        touch-action: none;
        
        &.hide {
            left: -300px;
        }

        & .actions {
            margin: 10px 0 0 0;
            padding: 10px 0 0 0;
            list-style: none;
            border-top: 2px solid var(--activity-color);

            & li a {
                display: flex;
                flex-direction: row;
                box-sizing: border-box;
                padding: var(--padding) 20px;
                -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

                & span {
                    flex: 1;
                    padding: 7px;
                }
                & img, & .zwiftgps-icon {
                    flex: 0;
                    padding: 0;
                    display: inline-block;
                    margin-right: 10px;
                }

                &:hover, &:active {
                    background-color: var(--shaded-background);
                }
            }
        }
    }

    & .logo {
        width: 90%;
        height: 30px;
        background-image: url(/img/zwift.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: var(--padding) auto;
    }

    & .player-name {
        text-align: center;
        padding: var(--padding);
        font-weight: bold;
        color: var(--activity-color);
    }

    & .map-attribute {
        position: absolute;
        right: 5px;
        top: 5px;
        width: auto;
        padding: var(--padding);
        z-index: 100;

        color: #808080;
    }

    & .world-selector {
        box-sizing: border-box;
        width: 440px;
        margin-top: 30px;
        max-width: 80%;
        padding: 0 25px 25px 25px;
        text-align: center;

        & h2 {
            margin: 20px 0 10px 0;
        }

        & ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        & li {
            display: inline-block;
            width: 80px;
            height: 80px;
            margin: 10px;
            background-color: var(--button-background);
            border-radius: 25px;
            padding: 10px;
            cursor: pointer;

            & .world-image {
                display: inline-block;
                width: 60px;
                height: 60px;
                border-radius: 10px;
                background: url(/img/worlds.png);

                &.world-1 {
                    background-position: 0 0;
                }

                &.world-2 {
                    background-position: 0 -60px;
                }

                &.world-3 {
                    background-position: 0 -120px;
                }
            }

            & .world-name {
                font-size: 0.9em;
                color: white;
                font-weight: bold;
            }
        }
    }
}

.overlay .summary {
    opacity: 0;
    transition: opacity ease 1s;
}
.overlay.hovering .summary {
    opacity: 1;
}
