:root {
    --padding: 10px;
    --app-background: #F1F1F1;
    --title-background: #FC6719;
    --input-border: #808080;
    --button-background: #FC6719;
    --button-background-hover: #B7B7B7;

    --highlight-color: white;
    --highlight-background: #FC6719;
}
