@import 'variables';
$slider-width: $slider-panel - 2 * $padding;

@mixin spin-speed($time) {
    animation: spin $time linear infinite;
}

.fan-speed {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: $slider-panel;
    height: 100%;
    overflow: hidden;
    padding: $padding;

    .slider {
        width: $slider-width;
        height: 100%;
        background: white;

        .handle {
            width: $slider-width;
            height: $slider-width;
            background-image: url(/img/fan.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    }

    &.fan-2 .handle {
        @include spin-speed(2.6s);
    }

    &.fan-3 .handle {
        @include spin-speed(2.2s);
    }

    &.fan-4 .handle {
        @include spin-speed(1.8s);
    }

    &.fan-5 .handle {
        @include spin-speed(1.5s);
    }

    &.fan-6 .handle {
        @include spin-speed(1.2s);
    }

    &.fan-7 .handle {
        @include spin-speed(0.95s);
    }

    &.fan-8 .handle {
        @include spin-speed(0.75s);
    }

    &.fan-9 .handle {
        @include spin-speed(0.6s);
    }

    &.fan-10 .handle {
        @include spin-speed(0.5s);
    }
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}
